<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="POST" action=''>
      <div class="form-group">
        <label for='first_name'>First Name:</label>
        <input class="form-control" id="first_name" type="text" placeholder="First name (Christian) last" name="first_name" required="true" value="" />
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
